<html>
  <head>
    <title>TransferDetails</title>
  </head>
  <body
  ><form>
  <!-- Transfer type -->
  <div class="form-outline mb-4">
    
    <label class="form-label" for="form5Example1">Transfer type</label>
    <input type="text" id="form5Example1" class="form-control" />
  </div>
  <!-- Message code-->
  <div class="form-outline mb-4">
    
    <label class="form-label" for="form5Example2">Message code</label>
    <input type="text" id="form5Example2" class="form-control" />
  </div>
  <!-- AMOUNT -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form5Example3">AMOUNT</label>
    <input type="text" id="form5Example3" class="form-control" />
  </div>
  <!-- Add transfer fee -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form5Example4">Add transfer fee</label>
    <input type="text" id="form5Example4" class="form-control" />
  </div>
  <!-- Clear balance -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form5Example4">Clear balance</label>
    <input type="text" id="form5Example4" class="form-control" />
  </div>
  <!-- Submit button -->
  <button type="submit" routerLink="NEXT" class="btn btn-primary btn-block mb-4" routerLinkActive="active">NEXT</button>
</form>
</body>
</html>
